<html>
    <head>
        <title>BCS DASHBOARD</title>

        <body>
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">DASHBOARD</a>
                    </div>
                </div>
            </nav>
        </header>
    </head>